a {
  color: #AD130D;
  font-size: 20px;
  text-decoration: none !important;
}

a:hover {
  color: rgb(234, 152, 3);
}


h1 {
  padding-bottom: 10px;
}

.beerimage {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}

.beerimage:hover {
  -webkit-filter: grayscale(50%);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);

}

.menuLine {
  position: relative;
  color: white;
  text-decoration: none;
  padding-top: 15px;
}

.menuLine:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menuLine:before {
  content: "";
  position: absolute;
  width: 65%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.title {
  color: rgb(234, 152, 3);
  text-align: center;
  padding-top: 40px;
}

.row {
  padding-top: 50px;
}